.nav{
    grid-column: span 10;
    background-color: white;;    
    display: flex;
    padding-top: 15px;
    justify-content: flex-end;   
}

.nav > :nth-child(n){
    padding-left: 30px;
}

.nav > div:nth-child(1) a {
    color: blue;
}


div > a:link{
    color: wheat;
}
div > a:visited{
    color: lightslategray;
}
div > a:hover{
    color: lightsalmon;
}
div > a:active{
    color: black;
}