*{  
    color: black;
    font-weight: bold;
    text-decoration: none;
}


.theme{
    text-align: center;
    font-size: 60px;
    width: 100%;
    height: 120px;
    margin-top: 0px;;
    padding-top: 50px;
    background-image: url('furniture.jpg');
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;
    background-color: ivory;
    color: peru;
    
}

.container {
    margin-top: -40px;
    display: grid;    
    grid: 50px 350px 150px / repeat(10, 1fr);
}


header{
    grid-column: span 10;
    background-color: white;;    
    display: flex;
    padding-top: 15px;
    justify-content: flex-end;   
}

header > :nth-child(n){
    padding-left: 30px;
}

a:link{
    color: wheat;
}
a:visited{
    color: lightslategray;
}
a:hover{
    color: lightsalmon;
}
a:active{
    color: black;
}


aside{
    display: flex;
    grid-column: span 2;
    background-color: cadetblue;
    font-size: 20px;
}


ul > li{
    list-style: none;
    margin-left: -18px;
    padding: 6px;
}



main{
    display: flex;
    grid-column: span 8;
}

main > img{
    height: 100%;
    width: 100%
}

.big{
    display: flex;
    flex-direction: row;
    grid-column: span 5;
    background-color: whitesmoke;
}

footer{
    display: flex;
    flex-direction: row;
    grid-column: span 5;
    background-color: whitesmoke;
}

.firstfooter{
    margin-left: 20px;
}

.news{
    display: inline-block;
    margin-top:-10px;
    border-top: 1px solid lightgrey;
    font-size: 10px;
}

.center{
    margin-top:-10px;
    border-top: 1px solid lightgrey;
    font-size: 10px;
    padding: 10px;
    letter-spacing: 5px;
}

